/*------------------------------*
*リセットscssモジュール
*------------------------------*/

html {
    font-size: 62.5%;

    body {
        font-size: 1.3rem;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;

        ul {
            list-style: none;

            li {
                list-style: none;
            }
        }

        h1 {
            margin: 0;
            font-size: 2.5rem;
        }

        h2 {
            margin: 0;
            font-size: 2rem;
        }

        h3 {
            margin: 0;
            font-size: 1.5rem;
        }
    }
}
